<!doctype html>
<html>
    <head>
    <title>Rebrain. Ansible-12</title>
    </head>
    <body bgcolor="gray">
    <CENTER>
    <br><br><br><br>
    <br><br><br><br>
    <font color="gold">This server create by Alexey S.<br>
    Server OS Family is: {{ansible_distribution}}<br>
    </body>
</html>
